.nav-bar {
    background-color: aqua;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: navy;
}

.nav-btns-container {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}